body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(244, 237, 221);
    color: rgb(47, 88, 64);/*font color*/
    border: 5px dotted rgb(47, 88, 64);
}

h1{
    color: rgb(118, 85, 63);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 280%;
}
img{
    display: block;
    border: 2px dashed rgb(118, 85, 63);
    padding: 15px;
    margin: auto;
    text-align: center;

}

.vid iframe {
    border: 2px dashed rgb(118, 85, 63);
    padding: 15px;
  }
 
  
a:{
    color: rgb(47, 100, 39);
}
a:visited{
    color: rgb(118, 85, 63);
}
li{
    font-style: italic;
}
li:hover{
    font-size: 105%;
    text-decoration: underline;
    background-color: rgb(188, 153, 143);
}

.nav{
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}
.footer{
    position: fixed;
    background-color: black;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    display: block;
}
.content{
    left: 0;
    right: 0;
    top: 20px;
    text-align: center;
}
.gallery img{
    display: inline;
    width: 19%;
    

}